{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="sidebar">
        <h2>Мой Блог</h2>
        <p>Это мой блог. На данный момент, количество написанных мною статей равняется <b>{% total_posts %}</b></p>
        <p><a href="{% url 'blog:post_feed' %}">Подпишитесь на мой RSS-канал</a></p>
        <h3>Недавние публикации</h3>
        {% show_latest_posts 3 %}
        <h3>Статьи с большим количеством комментариев</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>