{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<h1>{{ post.title }}</h1>
<p class="date">Опубликовано {{ post.publish }}, автор {{ post.author }}</p>
{{ post.body|markdown }}
<p><a href="{% url 'blog:post_share' post.id %}">Поделиться этой статьей</a></p>

<h2>Похожие посты:</h2>

{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
<p>Похожих постов пока нет.</p>
{% endfor %}

{% with comments.count as total_comments %}
<!-- Я реализовал свою функцию для множественного числа -->
<h2>{{ total_comments }} {{ ruplural }}</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">Комментарий № {{ forloop.counter }} от {{ comment.created }}, автор: {{ comment.name}}</p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
<p>Комментариев пока нет</p>
{% endfor %}

{% if new_comment %}
<h2>Ваш комментарий был добавлен.</h2>
{% else %}
<h2>Добавить новый комментарий</h2>
<form action="." method="POST">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Добавить комментарий"></p>
</form>
{% endif %}
{% endblock content %}