{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}Мой блог{% endblock title %}

{% block content %}
<h1>Мой Блог</h1>

{% if tag %}
<h2>Посты связанные с "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
<h2>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</h2>
<p class="tags">
    Метки:
    {% for tag in post.tags.all %}
    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
        </a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<p class="date">Опубликовано {{ post.publish }}, автор {{ post.author }}</p>
<!-- обрезает статьи, после указанного количества. linebreaks преобразует в HTML с переносами строки. -->
{{ post.body|markdown|truncatewords_html:30 }}
{% endfor %}
<!-- page_obj используется по умолчанию в PostListView. posts в нашей функции -->
{% include "pagination.html" with page=posts %}
{% endblock content %}