{% extends 'blog/base.html' %}

{% block title %}Поиск{% endblock title %}


{% block content %}

{% if query %}
<h1>Посты содержащие "{{ query }}"</h1>
<h3>
    {% with results.count as total_results %}
    Количество найденных статей: {{ total_results }}
    {% endwith %}
</h3>

{% for post in results %}
<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
{{ post.body|truncatewords:5 }} <br><br>
{% empty %}
<p>По вашему запросу результатов не найдено!</p>
{% endfor %}
<p><a href=" {% url 'blog:post_search' %}">Искать снова</a></p>
{% else %}
<h1>Поиск по постам</h1>
<form action="." method="GET">
    {{ form.as_p }}
    <input type="submit" value="Искать">
</form>
{% endif %}

{% endblock content %}