{% extends 'blog/base.html' %}

{% block title %}Поделиться статьей{% endblock title %}

{% block content %}
    {% if sent %}
        <h1>Письмо успешно отправлено!</h1>
        <p>Статья "{{ post.title }}", успешно отправлена на e-mail {{ form.cleaned_data.to }}.</p>
    {% else %}
    <h1>Отправить "{{ post.title }}" по e-mail</h1>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Отправить e-mail">
    </form>
    {% endif %}
{% endblock content %}